<mat-card *ngFor="let p of posts">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title >
        {{p.title}}</mat-card-title>
        <!-- <mat-icon mat-list-icon>category</mat-icon> -->
        </mat-card-header>
        <mat-card-content>{{ p.content }}</mat-card-content>
        <!-- <div mat-line>{{ p.content }}</div> -->
        
        <mat-card-actions>
          <button mat-button color="warn">Delete</button>
          <button mat-button>Update</button>
        </mat-card-actions>
        <mat-divider></mat-divider>
    <div class="container text-center mt20">
      <button routerLink="/admin/add-post" mat-raised-button color="primary">
        Add New Post
      </button>
    </div>
  </mat-card>